body {
  background-image: url(../media/daniele-d-andreti-2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  font-size: 150px;
  color: red;
  margin: 150px 0px 0px 350px;
}

div {
  margin-top: -30px;
  margin-left: 475px;
  font-style: italic;
  font-size: 20px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin-top: 10px;
  margin-left: 595px;
  border-radius: 12px;
  padding: 10px 45px 12px 45px;
  background: transparent;
  font-family: Helvetica;
  background-color: hsla(0, 0%, 20%, 0.4);
  border-style: none;
  font-weight: lighter;
  color: white;
  font-size: 30px;
  /* border-color: hsla(0, 0%, 100%, 0.5); */
}

button:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
  border-style: none;
  color: hsla(0, 0%, 20%, 0.4);
  transform: 0.1s;
}
